<div class="container marginTop">
	<div class="row">
		<div class="col-8 offset-2 greybackground postformpadding">
			<h1 class="text-center">Edit Your Account</h1>
			<%= form_with model: @user, local: true do |f| %>
				<div class="form-group">
					<%= f.label :first_name %>
					<%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= f.label :first_name %>
					<%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
				</div>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :bio %>
						<%= f.text_area :bio, placeholder: 'Bio', class: 'form-control' %>
					</div>
				<div class="form-group">
					<%= f.label :password %>
					<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
				</div>
				<%= f.submit class: 'btn btn-danger' %>
			<% end %>
		</div>
	</div>
</div>