<h1><%= @user.first_name %></h1>
<%= link_to "All User", users_path %>
<%= link_to "Delete", @user, method: :delete %>
<%= link_to "Edit User", edit_user_path(@user) %>

<div class="posts">
	<% @user.posts.each do |post| %>
		<div class="post">
			<%= post.content %>
			<%= post.id %>
		</div>
	<% end %>
</div>